body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../resource/section_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-container {
    position: relative;
    width: 60%;
    max-width: 800px;
    height: 500px;
    background-color: white;
    display: flex;
    margin-left: 12%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    z-index: 2;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.fullscreen-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.text-container {
    width: 60%;
    max-width: 800px;
    margin-top: 20px;
    margin-left: 12%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

.text-container p {
    margin: 0;
    color: #333;
}

.button-container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.button-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
}

.button-container img {
    height: 100%;
    object-fit: cover;
    display: block;
}

.button-1 {
    flex: 2;
}

.divider {
    width: 2px;
    background-color: #ccc;
    height: 100%;
}


.showVideo{
    position: absolute;
    top:230px;
    left:50%;
    width:60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    background:white;
    display: none;
    border:2px solid #aaa;
}
.showVideo .playBtn{
    width: 30px!important;
    height: 30px!important;
    margin-top: 15px;
    margin-left: 17px;
}
.showVideo .playBtn.hover{
    display: none;
}
.showVideo:hover{
    background:red;
    cursor: pointer;
}
.showVideo:hover .playBtn{
    display: none;
}
.showVideo:hover .playBtn.hover{
    display: block;
}
#displayed-video{
    display: none;
}

.imgContain4_1{
    overflow: hidden;
    display: none;
}
.imgContain4_1 .imgLeft{
    float:left;
    width:48%;
    position: relative;
}
.imgContain4_1 .imgRight{
    float:right;
    width:48%;
    position: relative;
}
.imgContain4_1 img{
    overflow: hidden;
}
.imgContain4_1 .imgLink{
    position: absolute;
    text-align: center;
    top:40%;
    left:0;
    right: 0;
    text-align: center;
}
.imgContain4_1 .imgLink a{
    text-decoration: none;
    color:white;
    background:rgba(0,0,0,.6);
    padding:10px 15px;
    border-radius: 4px;
}
.fontContain4_2{
    position: absolute;
    text-align: center;
    top:40%;
    left:0;
    right: 0;
    overflow: hidden;
    display: none;
}
.fontContain4_2 .btnText{
    padding:0 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color:white;
    background:rgba(0,0,0,.6);
    padding:10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.sectionBtnStyle{
    position: absolute;
    top:40%;
    text-decoration: none;
    color:white;
    background:rgba(0,0,0,.6);
    padding:10px 15px;
    border-radius: 4px;
    display: none;
}
.sectionBtnStyle.section12Btn{
    left:35%;
}
.sectionBtnStyle.section13Btn{
    left:40%;
}
.sectionBtnStyle.section131Btn{
    left:40%;
}
.sectionBtnStyle.section331Btn{
    left:40%;
}
.sectionBtnStyle.section421Btn{
    left:40%;
}
.sectionBtnStyle.section422Btn{
    left:40%;
}

