body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.screen2 {
    background-image: url('../resource/section_bg.png');
    background-size: cover; /* 背景图片覆盖整个页面 */
    background-position: center; /* 背景图片居中 */
    background-repeat: no-repeat; /* 背景图片不重复 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.content-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.arrow_body {
    position: absolute;
    display: flex;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0) rotate(-90deg);
    cursor: pointer;
    z-index: 20;
}
.home-image {
    width: 100%;
    height: 100%;
}
.arrow {
    position: relative;
    width: 20px;
    height: 20px;
    border-top: 4px solid #000;
    border-left: 4px solid #000;
    transform: rotate(-45deg);
    animation: arrow_load 2s infinite;
}
.arrow:nth-child(1) {
    left: 15px;
    animation-delay: -0.4s;
}
.arrow:nth-child(2) {
    animation-delay: -0.2s;
}
.arrow:nth-child(3) {
    right: 15px;
}
@keyframes arrow_load {
    0% {
        opacity: 0;
        transform: rotate(-45deg) translate(30px, 30px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(-45deg) translate(-30px, -30px);
    }
}


.container {
    position: absolute;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* 确保文本框在所有组件的前面 */
}

#textbox {
    width: 100%;
    height: 50%;
    padding: 10px;
    font-size: 18px;
    line-height: 1.6;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto; /* 添加这个属性使文本框内容可滚动 */
    transition: all 0.3s ease; /* 添加平滑过渡效果 */
    color: #524221; /* 默认字体颜色 */
}

.btn-group {
    position: absolute;
    top: -50px; /* 提升按钮组的位置 */
    right: 0;
    display: flex;
    gap: 10px;
}

.btn-group img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 34px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
}

.dropdown-content {
    padding: 10px;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #f0f0f0;
}

.button-container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.button-container a {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    flex: 1;
    text-align: center;
}

.button-container img {
    height: 100%;
    object-fit: cover;
    display: block;
}

.button-1 {
    flex: 2;
}

.divider {
    width: 2px;
    background-color: #ccc;
    height: 100%;
}
.image-container {
    display: flex;
    margin-left: 12%;
    justify-content: space-between;
    gap: 100px; /* 控制两张图片之间的距离 */
}
.image-box {
    text-align: center;
    max-width: 300px; /* 确保整个块的宽度与图片一致 */
}
.image-frame {
    width: 300px; /* 固定底框的宽度 */
    height: 300px; /* 固定底框的高度 */
    background-color: rgba(255, 255, 255, 0.7); /* 底框的白色背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 添加阴影 */
    margin-bottom: 10px; /* 底框与标题之间的间距 */
}
.side-image {
    width: 90%; /* 如果图片太小，至少扩展到底框宽度 */
    transition: transform 0.3s;
    cursor: pointer;
    z-index: 20;
}
.side-image:hover {
    transform: scale(1.05); /* 鼠标悬停时放大效果 */
}
.image-title {
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 28px; /* 增大标题字号 */
    font-weight: bold;
    display: inline-block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
}
.image-title::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid rgba(0, 0, 0, 0.5); /* 外层线条 */
    border-radius: 15px; /* 圆角效果 */
}
.image-title::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.5); /* 内层线条 */
    border-radius: 10px; /* 圆角效果 */
}
.text-box {
    margin-top: 10px;
    width: 100%;
    height: 250px; /* 设置文本框的固定高度 */
    overflow-y: auto; /* 允许垂直滚动 */
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* 添加阴影 */
    border-radius: 5px; /* 圆角效果 */
    margin-top: 20px;
    text-align: justify;
}

#hideMuisc{
    display: none;
}


.caiBoxList{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(2, 50%);
}
.caiBoxList .caiBox{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.caiBoxList .caiBox img{
    max-width: 90%;
    max-height: 90%;
}
.caiBoxList .caiBox .caiAnswer{
    position: absolute;
    top:30%;
    left:0;
    right:0;
    text-align: center;
    display: none;
}
.caiBoxList .caiBox p{
    text-decoration: none;
    color:white;
    background:rgba(0,0,0,.6);
    padding:10px 15px;
    border-radius: 4px;
    display: inline-block;
}


.ru_jia_jiao_yu .fullscreen-button{
    background:rgba(0,0,0,.5);
    border:none;
    color:white;
    font-size:20px;
    cursor: pointer;
    position: absolute;
    top:10px;
    right: 10px;
}
.ru_jia_jiao_yu .lineXian{
    float:right;
    border-bottom: 1px solid black;
    height: 30px;
    width:30%;
}

.ru_jia_jiao_yu{
    width:100%;
    min-width: 700px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 62px auto;
}
.ru_jia_jiao_yu .jiaoYutitle{
    font-size:20px;
    font-weight: 700;
    text-align: center;
    padding:10px 0 20px;
}
.ru_jia_jiao_yu .ru_jia_jiao_yu_content{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    overflow-y: scroll;
}

.ru_jia_jiao_yu .itemTitle{
    padding:50px 0;
    overflow: hidden;
}
.ru_jia_jiao_yu .itemTitle .titleText{
    float:right;
    line-height: 60px;
    padding:0 40px;
    border: 1px solid black;
    border-radius: 40px;
}
.ru_jia_jiao_yu .itemInfo{
    padding:50px 0;
    overflow: hidden;
}
.ru_jia_jiao_yu .itemInfo .itemImg{
    float:right;
    max-width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ru_jia_jiao_yu .itemInfo .itemImg img{
    max-height: 100%;
    max-width: 100%;
}
.ru_jia_jiao_yu .itemInfo .itemSubInfo{
    float:right;
    padding:70px 0;
    min-width:35%;
    max-width: 40%;
}
.ru_jia_jiao_yu .itemInfo .itemSubInfo p{
    line-height: 30px;
    padding:0;
    margin:0;
    text-align: center;
}
.ru_jia_jiao_yu .itemInfo .itemSubInfo p ~ p{
    border-top: 1px solid black;
}
.ru_jia_jiao_yu .itemDesc{
    padding:50px 0;
    overflow: hidden;
}
.ru_jia_jiao_yu .itemDesc .descText{
    float:right;
    width:65%;
}

.ru_jia_jiao_yu .jiao_yu_right{
    border-left: 1px solid black;
} 
.ru_jia_jiao_yu .jiao_yu_right .lineXian{
    float:left;
}
.ru_jia_jiao_yu .jiao_yu_right .itemTitle{
} 
.ru_jia_jiao_yu .jiao_yu_right .itemTitle .titleText{
    float:left;
}
.ru_jia_jiao_yu .jiao_yu_right .itemInfo .itemImg{
    float:left;
} 
.ru_jia_jiao_yu .jiao_yu_right .itemInfo .itemSubInfo{
    float:left;
}
.ru_jia_jiao_yu .jiao_yu_right .descText{
    float:left;
}
.fullScreenJiKong{
    width: 500px;
    height: 500px;
    display: none;
}
.fullScreenJiKong .fullScreenTitle{
    margin:100px auto 20px;
    text-align: center;
    font-size:20px;
    color:white;
}
.fullScreenJiKong img{
    height: 50%;
    display: block;
    margin: 0 auto;
}


.jikongTxt{
    width:800px!important;
    margin: 30px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}
.jikongPage{
    width:800px!important;
    margin: 0 auto;
    height: 500px!important;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
}
.jikongPage .table{
    padding:10px;
}
.jikongPage .table table{
    font-size:14px;
}
.jikongPage .map{
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.jikongPage .map img{
    max-width: 100%;
    max-height: 100%;
}
.jikongPage .map .mapBtn{
    position: absolute;
    width:30px;
    height: 30px;
    cursor: pointer;
}
.jikongPage .map .mapBtn.sd{
    top: 222px;
    left: 288px;
}
.jikongPage .map .mapBtn.tb{
    top:272px;
    left:313px;
}
.jikongPage .map .mapBtn.dg{
    top:140px;
    left:10px;
}
.jikongPage .map .mapBtn.hg{
    top: 212px;
    left: 318px;
}
.jikongPage .map .mapBtn.rb{
    top:200px;
    left:350px;
}


.lijiPage{
    padding:20px 0 10px;
}
.lijiPage .lijiTitle{
    font-size:20px;
    font-weight: 700;
    text-align: center;
}
.lijiPage .lijiDesc{
    margin:20px 0 10px;
    text-indent: 2em;
    max-height: 90px;
    line-height: 30px;
    overflow-y: auto;
}
.lijiPage .lijiListFont{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding:20px 0;
    height: 400px;
}
.lijiPage .lijiListFont .lijiItemFont{
    padding:10px;
}
.lijiPage .lijiListFont .lijiItemFont .itemTitle{
    font-size:16px;
    font-weight: 700;
    text-align: center;
    padding:10px 0 20px;
}
.lijiPage .lijiListFont .lijiItemFont .itemDesc{
    max-height: 340px;
    overflow-y: auto;
}
.lijiPage .lijiImgList{
    overflow: hidden;
}
.lijiPage .lijiImgList .lijiImgItem {
    overflow: hidden;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 100%;
}
.lijiPage .lijiImgList .lijiImgItem .imgContaint{
    max-width:100%;
    height: 100%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lijiPage .lijiImgList .lijiImgItem img{
    max-width: 90%;
}
.lijiPage .lijiImgList .lijiImgItem .imgDesc{
    text-align: center;
    padding:20px 0;
}

.page-container{
    position: relative;
    overflow: hidden;
}
.pageContain{
}
.pageContain .pageTitle{
    width:100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    font-weight: 700;
}
.pageContain .pageFontGrid{
    display: grid;
    grid-template-columns: 25% 75%;
    height: 950px;
    width: 100%;
}
.pageContain .pageFontGrid .gridLeft{
    padding:30px;
    height: 840px;
    overflow-y: scroll;
    text-indent: 2em;
}
.pageContain .pageFontGrid .gridRight{
    display: grid;
    grid-template-rows: 300px 230px 180px;
    padding:20px;
    height: 610px;
}
.pageContain .pageFontGrid .gridRight .gridRightTop{
    height: 280px;
    overflow-y: scroll;
    margin:10px;
}
.pageContain .pageFontGrid p{
    text-align: center;
    font-weight: 700;
}
.pageContain .pageFontGrid .gridRight .gridRightContain{
    display: grid;
    grid-template-columns: 75% 25%;
    height: 600px;
    margin:10px;
}
.pageContain .pageFontGrid .gridRight .gridRightContain .gridRightContainLeft{
    
}
.pageContain .pageFontGrid .gridRight .gridRightContain .gridRightContainLeft .gridRightContainLeftContain{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 340px;
    margin-bottom: 10px;
}
.pageContain .pageFontGrid .gridRight .gridRightContain .gridRightContainLeft .gridRightContainLeftContain .gridFont{
    height: 320px;
    overflow-y: scroll;
}
.pageContain .pageFontGrid .gridRight .gridRightContain .gridRightContainLeft .gridRightContainBottom {
    height: 230px;
    overflow-y: scroll;
    margin-top: 20px;
}
.pageContain .pageFontGrid .gridRight .gridRightContain .gridRightContainRight {
    height: 590px;
    overflow-y: scroll;
}
.pageContain .pageFont1{
    text-indent: 2em;
    margin:10px ;
    line-height: 30px;
}
.pageContain .pageFont2{
    
    margin:10px ;
}
.pageContain .pageFont3{
    
    margin:10px ;
}
.pageContain .pageFont4{
    
    margin:10px ;
}
.pageContain .pageFont5{
    
    margin:10px ;
}
.pageContain .pageFont6{
    
    margin:10px ;
}
.pageContain .pageFont7{
    
    margin:10px ;
}



.imgGridView{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    height: 100%;
}
.imgGridView .imgGridViewContain{
    display: grid;
    grid-template-rows: repeat(2, 50%);
}
.imgGridView .imgGridViewContain .imgGridItem{
    position: relative;
    height: 100%;
    margin:10px;
    text-align: center;
    overflow: hidden;
}
.imgGridView .imgGridViewContain .imgGridItem .imgShow {
    height: 100%;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
}
.imgGridView .imgGridViewContain .imgGridItem img{
    max-width: 100%;
    max-height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: rotateY(0deg);
    object-fit:unset;
}
.imgGridView .imgGridViewContain .imgGridItem .imgText{
    display: none;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    transform-origin: 50% 50%;
    transform: rotateY(180deg);
    height: 100%;
    overflow-y: scroll;
}
.imgGridView .imgGridViewContain .imgGridItem img.flipper{
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    transform-origin: 50% 50%;
    transform: rotateY(90deg);
}
.imgGridView .imgGridViewContain .imgGridItem .imgText.flipper{
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    transform-origin: 50% 50%;
    transform: rotateY(0deg);
}
.imgGridView .imgGridViewContain .imgGridItem .imgText.flipper{
    transform: rotateY(0deg);
}




#textbox.noborder{
    box-shadow: none;
    background-color:unset;
    border:none;
}
.chatGridView {
    width:100%;
    height:100%;
    position: relative;
}
.chatGridView .chatGridItem{
    position: absolute;
    width:52%;
    height:90%;
    overflow: hidden;
    border-radius: 80px;
}
.chatGridView .chatGridItem.left{
    left:0;
    top:0;
    background: rgba(255,255,255,.6);
}
.chatGridView .chatGridItem.right{
    top:0;
    right: 0;
    background: rgba(255,255,255,.7);
}
.chatGridView .chatGridItem .chatText{
    height: 100%;
    position: absolute;
    padding:50px;
    text-align: center;
}
.chatGridView .chatGridItem .chatText .scrollChat{
    overflow-y: scroll;
    height: 100%;
}
.chatGridView .chatGridItem .chatText .scrollChat .scrollContent{

}
.chatGridView .chatGridItem.left .chatText{
}
.chatGridView .chatGridItem.right .chatText{
}

/* 针对WebKit内核的自定义 */
::-webkit-scrollbar {
}